# Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

# Python files:
__pycache__/
*.py[cod]
*$py.class

# Emacs specific
_minted-main/
auto/

# project specific
Kerner.pdf
data.js
output.png
